<div style="height:100vh;background: beige; justify-content: center;
text-align: center;" class="d-flex">
    <div style="width:800px">
        <div style="height: 200px;">
            <div class="circle">
                <img class="profile-pic"
                    src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
            </div>
            <div class="p-image">
                <i class="fa-solid fa-camera upload-button" (click)="uploadImage()"></i>
                <input class="file-upload" type="file" accept="image/*" />
            </div>
            <h1>{{userName}} Amit Kumar</h1>
        </div>
        <div>
            <form action="" style="height: 600px; flex-direction:column; align-items: center;" class="d-flex" [formGroup]="profileForm">
                <div class="d-flex">
                    <label for="username">Display Name</label> &nbsp;&nbsp;
                    <input type="text" name="username" value="{{userName}}" id="username" formControlName="userName">
                </div><br>
                <div class="d-flex">
                    <label for="emailid">Status</label> &nbsp;&nbsp;
                    <input type="text" name="status" id="status" formControlName="status">
                </div><br>
                <div class="d-flex">
                    <label for="usephNumberrname">Phone Number</label> &nbsp;&nbsp;
                    <input type="text" name="phNumber" value="{{phoneNumber}}" id="phNumber" formControlName="phoneNumber">
                    
                </div><br><br>
            <button class="btn btn-primary" (click)="logout()">Logout</button>
            </form>
        </div>
    </div>

</div>