body {
  background-color: #efefef;
}

.profile-pic {
  width: 200px;
  max-height: 200px;
  display: inline-block;
}

.file-upload {
  display: none;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 72px;
}
img {
  max-width: 100%;
  height: auto;
}
.p-image {
  position: relative;
  top: 90px;
  right: 280px;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}
.dashboard-container {
  height: 100vh;
}

.dash-card {
  width: 100%;
}

.profile-circle {
  margin-top: 10px;
  width: 230px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: inherit;
}

.upload-wrapper {
  width: 100%;
  height: 50px;
  margin: 10px 0 24px 0;
  padding: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: dashed 2px #4c4c4c;
}

.trash-icon {
  padding: 0;
  background-color: transparent;
  position: absolute;
  /* bottom: 10px; */
  right: -98px;
  z-index: 1;
  background: url(./assets/images/delete-icon.png) no-repeat;
  width: 32px;
  height: 32px;
}
.profile-circle img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
