<!-- <div class="dashboard">
    <h2 class="d-flex align-item-center mb-4 mt-4 justify-content-center">Welcome User</h2>
    <img src="../../assets/chatting.svg" height="480.5px" alt="chat_image">
</div> -->

<form class="row g-2 needs-validation" novalidate>
    <div class="col-md-1">
        <input type="text" class="form-control" id="validationCustom01" required>
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" id="validationCustom02" required>

    </div>
    <div class="col-md-1">
        <div class="input-group has-validation">
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required>

        </div>
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" id="validationCustom03" required>
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" id="validationCustom03" required>


    </div>
    <div class="col-md-1">
        <input type="text" class="form-control" id="validationCustom05" required>

    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>